[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    footstep-generator/tests,
    footsteps-web,
    footsteps-web/node_modules,
    footsteps-web/.next,
    .mypy_cache,
    .pytest_cache,
    .swc
